<!--<h1>alL teams you can see</h1>
    <div>{{data}}</div>

    <div>
      {% for n in data %}
      <div>{{n}}</div>
      {% endfor %}
    </div> -->

    <!--<h1>alL teams you can see</h1>
    <div>{{data}}</div>

    <div>
      {% for n in data %}
      <div>{{n}}</div>
      {% endfor %}
    </div> -->



<!DOCTYPE html>
<html>
<title>Dash Board</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('https://www.walldevil.com/wallpapers/a75/wallpaper-background-black-basketball-basket-ball-sport-backgrounds-desktop-wallpapers.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">Welcome, {{uname}}</h1>
    <h4 class="w3-large w3-center">{{message}}</h4>
    
    <hr class="w3-border-grey" style="margin:auto;width:40%">
   
    <p class="w3-large w3-center">
    <p class="w3-large w3-center"><a href = "/user_change_details?uid={{uid}}&uname={{uname}}">Modify account details</a></p> 
<p class="w3-large w3-center"><a href = "/user_search_history?uid={{uid}}&uname={{uname}}">View search history of teams</a></p>
<p class="w3-large w3-center"><a href = "/user_search_basketball_team?uid={{uid}}&uname={{uname}}"> Search for a basketball team</a></p> 
<p class="w3-large w3-center"><a href = "/user_view_recommendations?uid={{uid}}&uname={{uname}}">View system recommendations</a></p> 
<p class="w3-large w3-center"><a href = "/"> log out</a></p> 



    </p>

  </div>

  <div class="w3-display-bottomleft w3-padding-large w3-text-white">
    Powered by <a>Yulong Qiao & Jianpu Ma</a>
  </div>
</div>

</body>
</html>


