
<!DOCTYPE html>
<html>
<title>Team searched</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('http://cdn.wallpapersafari.com/30/1/2PjztL.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    
  </div>
  
    <h1 class="w3-jumbo w3-animate-top">This is team info </h1>
  
    <hr class="w3-border-grey" style="margin:auto;width:100%">
   
    <p class="w3-large w3-center">

        {% for n in staticdata %}
    <p class="w3-large w3-center">name:{{n[4]}}</p>
    <p class="w3-large w3-center">coach:{{n[0]}}</p>
    <p class="w3-large w3-center">mascot:{{n[1]}}</p>
    <p class="w3-large w3-center">languageregion: {{n[2]}}</p>
    <p class="w3-large w3-center">location:{{n[3]}}</p>
    <p class="w3-large w3-center">foundate:{{n[5]}}</p>
    <p class="w3-large w3-center">web:{{n[6]}}</p>
    {% endfor %}

    {% for n in championdata %}
    <p class="w3-large w3-center">championtitle:{{n[0]}} presenter:{{n[1]}}</p>
    {% endfor %}
    






   






    <h1 class="w3-jumbo w3-animate-top">This team's manager info</h1>
  
    <hr class="w3-border-grey" style="margin:auto;width:100%">
    
    {% for n in managerdata %}
    <p class="w3-large w3-center">name:{{n[0]}}</p>
    <p class="w3-large w3-center">age:{{n[1]}}</p>
    <p class="w3-large w3-center">Birthday:{{n[2]}}</p>
    <p class="w3-large w3-center">Payment:{{n[6]}} a year</p>
    {% endfor %}
   

    <h1 class="w3-jumbo w3-animate-top">This manager's company info</h1>
  
    <hr class="w3-border-grey" style="margin:auto;width:100%">
        {% for n in managerdata %}
    <p class="w3-large w3-center">Company name:{{n[3]}}</p>
    <p class="w3-large w3-center">Address:{{n[4]}}</p>
    <p class="w3-large w3-center">website:{{n[5]}}</p>
    {% endfor %}    




    <h1 class="w3-jumbo w3-animate-top">More search</h1>
  
    <hr class="w3-border-grey" style="margin:auto;width:100%">
    
    <h2><p class="w3-large w3-center">Search for its player</h2></p>
    <div class="w3-large w3-center">

  <form method="GET" action="/playersearched">
 
  <select name ="query">
  {%for p in playerdata%}
  <option value="{{p}}"> {{p}}</option>
  {% endfor %}
  </select>
  <input type="hidden" id="tname" name = "tname" value={{tname}}>
  <input type="hidden" id="uid", name="uid" value="{{uid}}">
  <input type="submit" value="submit">
  </form>
  </div>
    

    <h2><p class="w3-large w3-center">Search for its position</p></h2>
     <div  class="w3-large w3-center">
  
  <form method="GET" action="/positionsearched">
  <select name ="query">
  {%for p in positiondata%}
  <option value="{{p}}"> {{p}}</option>
  {% endfor %}
  </select>
  <input type="hidden" id="tname" name = "tname" value={{tname}}>
  <input type="hidden" id="uid", name="uid" value="{{uid}}">
  <input type="submit" value="submit">
  </form>
  </div>

 
<p  class="w3-large w3-center"><a href = "/gamedisplay?uid={{uid}}&tname={{tname}}">See its game and comments</a></p> 



  </div>

  
</div>

</body>
</html>








